<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.tiza.gw.server.udp.M2Server" init-method="init">
        <property name="port" value="6600"/>
    </bean>

    <bean class="com.tiza.util.client.impl.DBPClient" init-method="init">
        <property name="host" value="192.168.1.19"/>
        <property name="port" value="8088"/>
    </bean>

</beans>